<nav class="navbar navbar-default primary-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav dynamic-tabs">
        <li class="active"><a href="#">Personal</a></li>
        <li><a href="#">Corporate</a></li>
        <li><a href="#">Who We Are</a></li>
      </ul>
      <ul class="nav navbar-nav static-tabs">
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right socialnav">
        <li><a href="#">Login</a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- here is the secondary nav -->

<nav class="navbar navbar-default secondary-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="https://www.sbicard.com/sbi-card-en/resources/img/logo.png" alt="" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Credit Cards</a></li>
        <li><a href="#">Benefits</a></li>
        <li><a href="#">Pay</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="#">Rewards</a></li>
        <li>
            <a href="#"><span>Apply</span></a>
        </li>
        <li class="search">
          <div class="search-container">
              <span><i class="fa fa-search" aria-hidden="true"></i></span>
              <input type="text" name="name" value="" class="form-control" placeholder="Search">
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="sbi-breadcrumb">
  <a href="#">Home ></a>
  <span>Personal</span>
</div>
