<div class="login-block">
  <div class="level-1">
    <a href="#" class="btn login-btn">Login</a>
    <a href="#" class="forgot-link">Forgot your User ID or Password?</a>
    <p>
      Are you a first time user?
    </p>
    <span><a href="#">Register</a> to access online services.</span>
    <a href="#" class="watchdemo">Watch Demo <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  </div>
  <div class="level-2">
    <ul>
      <li><a href="#"><i class="fa fa-inr" aria-hidden="true"></i> Pay Now</a></li>
      <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Opt for eStatement</a></li>
      <li><a href="#"><i class="fa fa-ban" aria-hidden="true"></i> Report Lost Card</a></li>
      <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View Card Statement</a></li>
      <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Book Flexipay</a></li>
      <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Mobile App</a></li>
    </ul>
  </div>
</div>
